/*index*/
html { font-size: 62.5%; }

header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 0px; }

.logo { width: 15%; margin-left: 30px; padding: 20px; }

.encabezado { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; border: solid 4px black; color: white; font-size: 18px; text-decoration: none; background-color: black; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; width: 35%; }

.encabezado a { position: relative; text-decoration: none; -webkit-transition-property: background-color, color; transition-property: background-color, color; -webkit-transition-duration: 1s; transition-duration: 1s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; background-color: black; }

.encabezado a :hover { position: relative; -webkit-transition-property: background-color, color; transition-property: background-color, color; -webkit-transition-duration: 1s; transition-duration: 1s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; background-color: white; color: black; -moz-box-shadow: 2px 2px 1px black; }

.body { background-color: black; text-align: center; }

.parrafoPrimero { text-align: center; }

#carouselExampleControls { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; }

.texto h1 { color: red; font-size: 45px; margin: 20px; padding: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; }

.texto h2 { color: red; font-size: 18px; margin: 20px; padding: 20px; text-align: center; }

.texto p { color: #dedcdc; font-style: normal; font-size: 20px; font-family: 'Roboto', sans-serif; text-align: center; }

section article { background-color: black; width: 500px; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; padding: 40px; }

.primerFoto { margin-bottom: 20px; margin-top: 10px; }

h1 { font-size: 36px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

/*Final del index*/
/*entrenamientos*/
#grillaEntrenamiento { display: -ms-grid; display: grid; grid-template-areas: "header" "section" "footer"; -ms-grid-rows: 35% auto 55%; grid-template-rows: 35% auto 55%; -ms-grid-columns: 100%; grid-template-columns: 100%; height: 100vh; margin: 0; }

.horario { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; width: 35%; padding: 20px; }

.horario2 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; width: 35%; padding: 20px; }

article { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.pag-entrenamiento { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.entrenamientosParrafo { color: #f8f9fa; }

.entrenamientoSemana { font-size: 36px; color: red; padding: 50px; }

.pag-imagenes { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; }

/*fin de entrenamientos*/
/*Mision*/
#grillaMision { display: -ms-grid; display: grid; grid-template-areas: "header" "section" "footer"; -ms-grid-rows: 35% auto 55%; grid-template-rows: 35% auto 55%; -ms-grid-columns: 100%; grid-template-columns: 100%; height: 100vh; }

.pag-mision { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.mision { color: red; font-size: 45px; }

.parrafo { color: #dedcdc; font-style: normal; font-size: 20px; font-family: 'Roboto', sans-serif; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

/*Fin de Mision*/
/*Nosotros*/
section { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.border { border: solid 1px black; background-color: black; color: black; }

#grilla { display: -ms-grid; display: grid; grid-template-areas: "header" "section" "footer"; -ms-grid-rows: 35% auto 55%; grid-template-rows: 35% auto 55%; -ms-grid-columns: 100%; grid-template-columns: 100%; height: 100vh; margin: 0; border: solid 1px black; }

header { -ms-grid-row: 1; -ms-grid-column: 1; grid-area: header; }

section { -ms-grid-row: 2; -ms-grid-column: 1; grid-area: section; }

footer { -ms-grid-row: 3; -ms-grid-column: 1; grid-area: footer; font-size: 20px; text-align: center; padding-bottom: 20px; }

.padreUl { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

/*Fin nosotros*/
/*Contacto*/
#grillaContacto { display: -ms-grid; display: grid; grid-template-areas: "header" "section" "footer"; -ms-grid-rows: 35% auto 50%; grid-template-rows: 35% auto 50%; -ms-grid-columns: 100%; grid-template-columns: 100%; height: 100vh; margin: 0; border: solid 1px black; }

.pag-contacto { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: red; }

.pag-formulario { font-size: 15px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; text-align: center; }

.pag-sexo { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; color: white; text-align: center; }

.pag-label { color: white; }

/*Fin de Contactos*/
/*Pie*/
.modales { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: distribute; justify-content: space-around; -ms-flex-line-pack: center; align-content: center; }

.sucursales { color: black; }

h4 { color: black; }

h5 { color: black; }

.btn-modal { position: relative; -webkit-transition-property: background-color, color; transition-property: background-color, color; -webkit-transition-duration: 1s; transition-duration: 1s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; background-color: black; }

.btn-modal:hover { position: relative; -webkit-transition-property: background-color, color; transition-property: background-color, color; -webkit-transition-duration: 1s; transition-duration: 1s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; background-color: white; color: black; -moz-box-shadow: 2px 2px 1px black; }

.btn { padding: 10px; font-size: 12px; background-color: red; border: black 1px solid; }

.redes { font-size: 36px; display: -webkit-box; display: -ms-flexbox; display: flex; color: white; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

/*ejemplo dos (if)*/
.title--color { font-size: 18px; text-align: center; }

.padding-padding { padding-top: 10px; padding-bottom: 10px; }

.padding-padding { padding-top: 20px; padding-bottom: 20px; }

.padding-padding { padding-top: 30px; padding-bottom: 30px; }

/*ejemplo cuatro*/
.elemento-h1desktop { font-size: 50px; }

.elemento-h1mobile { font-size: 35px; }

.elemento-h2Desktop { font-size: 45px; }

.elemento-h2mobile { font-size: 30px; }

.elemento-pDesktop { font-size: 18px; }

.elemento-pmobile { font-size: 20px; }
/*# sourceMappingURL=style.css.map */