/*index*/
html { font-size: 62.5%; }

header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.logo { width: 15%; margin-left: 30px; padding: 20px; }

.encabezado { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; border: solid 4px black; color: white; font-size: 18px; text-decoration: none; background-color: black; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; width: 35%; margin-bottom: 10px; }

.encabezado a { position: relative; text-decoration: none; -webkit-transition-property: background-color, color; transition-property: background-color, color; -webkit-transition-duration: 1s; transition-duration: 1s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; background-color: black; }

.encabezado a :hover { position: relative; -webkit-transition-property: background-color, color; transition-property: background-color, color; -webkit-transition-duration: 1s; transition-duration: 1s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; background-color: white; color: black; -moz-box-shadow: 2px 2px 1px black; }

.body { background-color: black; text-align: center; }

.parrafoPrimero { text-align: center; }

div#carouselExampleControls { margin-top: 40px; }

#carouselExampleControls { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; }

.texto h1 { color: red; font-size: 45px; padding-bottom: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; }

.texto h2 { color: red; font-size: 18px; margin: 20px; padding: 20px; text-align: center; }

.texto p { color: #dedcdc; font-style: normal; font-size: 20px; font-family: 'Roboto', sans-serif; text-align: center; }

section article { width: 60%; padding: 40px; }

.primerFoto { margin-bottom: 20px; margin-top: 10px; }

h1 { font-size: 45px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-top: 10px; margin-bottom: 20px; }

/*Final del index*/
/*Comienzo de pages Entrenamientos*/
.horario { width: 100%; margin-bottom: 40px; }

article { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.pag-entrenamiento { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; color: red; margin-top: 10px; }

.entrenamientosParrafo { color: #f8f9fa; }

.entrenamientoSemana { font-size: 45px; color: red; padding: 50px; margin-top: 10px; }

/*fin de entrenamientos*/
/*Comienzo de mision*/
.pag-mision { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.mision { color: red; font-size: 45px; margin-top: 10px; }

.parrafo { color: #dedcdc; font-style: normal; font-size: 20px; font-family: 'Roboto', sans-serif; text-align: center; width: 80%; margin-top: 15px; }

/*Fin de Mision*/
/*Nosotros*/
section { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.nosotrosTexto { font-size: 45px; margin-top: 10px; color: red; }

.parrafoNosotros { font-size: 36px; color: white; }

.border { border: solid 1px black; background-color: black; color: black; }

#grilla { display: -ms-grid; display: grid; grid-template-areas: "header" "section" "footer"; -ms-grid-rows: 35% auto 300px; grid-template-rows: 35% auto 300px; -ms-grid-columns: 100%; grid-template-columns: 100%; height: 100vh; margin: 0; border: solid 1px black; }

header { -ms-grid-row: 1; -ms-grid-column: 1; grid-area: header; }

section { -ms-grid-row: 2; -ms-grid-column: 1; grid-area: section; }

footer { -ms-grid-row: 3; -ms-grid-column: 1; grid-area: footer; font-size: 20px; text-align: center; padding-bottom: 20px; }

.padreUl { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.copy { margin: 20px; }

.gracias { color: #ffffff; font-size: 30px; }

/*Fin nosotros*/
.campos-form { font-size: 24px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.label { font-size: 24px; }

.label-form { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; font-size: 18px; }

button#botonEnviar { font-size: 24px; margin-top: 10px; }

.contacto { margin-top: 10px; font-size: 45px; }

.pag-contacto { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: red; }

.pag-formulario { font-size: 24px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; text-align: center; }

.pag-sexo { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; color: white; text-align: center; }

.pag-label { color: white; font-size: 18px; }

.subTitulo { font-size: 24px; }

/*Fin de Contactos*/
/*Pie*/
.modales { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: distribute; justify-content: space-around; -ms-flex-line-pack: center; align-content: center; }

.sucursales { color: black; }

h4 { color: black; }

h5 { color: black; }

.pie { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-decoration: none; color: #f2f2f2; font-size: 20px; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; padding: 20px; border: 20px; }

.btn-modal { position: relative; color: white; -webkit-transition-property: background-color, color; transition-property: background-color, color; -webkit-transition-duration: 1s; transition-duration: 1s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; background-color: black; }

.btn-modal:hover { position: relative; -webkit-transition-property: background-color, color; transition-property: background-color, color; -webkit-transition-duration: 1s; transition-duration: 1s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; background-color: white; color: black; }

.btn { padding: 5px; font-size: 18px; background-color: red; border: black 1px solid; }

.redes { font-size: 25px; display: -webkit-box; display: -ms-flexbox; display: flex; color: white; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-top: 25px; }

.parrafoRedes { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; color: white; font-size: 18px; padding: 10px; }

/*Iconos*/
:root { --facebook: #3b5999; --instagram: #e4405f; }

.redes-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; height: 20vh; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.redes-container a { padding: 0 10px; margin: 10px; background: #333; color: white; line-height: 50px; font-size: 30px; -webkit-box-shadow: 0 3px 5px 0px rgba 0, 0, 0, 0.2; box-shadow: 0 3px 5px 0px rgba 0, 0, 0, 0.2; -webkit-transition: .2s; transition: .2s; }

.redes-container:hover a { -webkit-filter: blur 2px; filter: blur 2px; }

.redes-container a:hover { -webkit-transform: translateY(-3px) scale(1.05); transform: translateY(-3px) scale(1.05); -webkit-box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4); box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4); -webkit-filter: none; filter: none; }

.redes-container .facebook:hover { background: var(--facebook); }

.redes-container .instagram:hover { background: var(--instagram); }

/*ejemplo dos (if)*/
.title--color { font-size: 18px; text-align: center; }

.padding-padding { padding-top: 10px; padding-bottom: 10px; }

.padding-padding { padding-top: 20px; padding-bottom: 20px; }

.padding-padding { padding-top: 30px; padding-bottom: 30px; }

/*ejemplo cuatro*/
.elemento-h1desktop { font-size: 50px; }

.elemento-h1mobile { font-size: 35px; }

.elemento-h2Desktop { font-size: 45px; }

.elemento-h2mobile { font-size: 30px; }

.elemento-pDesktop { font-size: 18px; }

.elemento-pmobile { font-size: 20px; }

/* Mobile */
@media (min-width: 300px) and (max-width: 768px) { header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin: 0px; }
  section { margin-top: 80px; }
  .logo { width: 200px; margin-left: 0; }
  .encabezado a { font-size: 80%; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; padding: 5px; margin-bottom: 10px; }
  .redes { font-size: 24px; }
  .btn-modal { font-size: 8px; }
  section article { width: 80%; } }
/*# sourceMappingURL=style.css.map */